
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="">
<meta name="theme-color" content="#e33324">
<meta name="description" content="Real Estate HTML Template">
<meta name="keywords" content="Apartment, Estate Agency, Housing, Real Estate, Real Estate Broker, Real Estate Property, Single Property">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>RealFun || <%-title %></title>

<!--  Favicon -->
<link rel="shortcut icon" href="assets/images/favicon.png">

<!-- CSS -->
<link rel="stylesheet" href="assets/css/stylesheet.css">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&amp;display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&amp;display=swap" rel="stylesheet">
</head>

<body>
<!-- Preloader Start -->
<div class="preloader">
    <div class="utf-preloader">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!-- Preloader End -->

<!-- Wrapper -->
<div id="wrapper"> 
  <!-- Compare Property Widget -->
  <div class="utf-compare-slidebar-area">
    <div class="utf-smt-trigger-item"></div>
    <div class="utf-smt-content">
      <h4>Compare Property
        <span class="utf-smt-mobile-trigger-item"></span>
      </h4>
      <div class="utf-smt-property-item"> 
        <!-- Property -->
        <div class="utf-listing-item compact"> <a href="#" class="utf-smt-listing-img-container">
          <div class="utf-remove-compare-item"><i class="icon-line-awesome-close"></i></div>
          <div class="utf-listing-badges-item"><span class="for-sale">For Sale</span></div>
          <div class="utf-listing-img-content-item"> <span class="utf-listing-compact-title-item">Renovated Luxury Apartment <i>$420,000</i></span> </div>
          <img src="assets/images/listing-01.jpg" alt=""> </a> 
		</div>
        <!-- Property -->
        <div class="utf-listing-item compact"> <a href="#" class="utf-smt-listing-img-container">
          <div class="utf-remove-compare-item"><i class="icon-line-awesome-close"></i></div>
          <div class="utf-listing-badges-item"><span class="for-sale">For Sale</span></div>
          <div class="utf-listing-img-content-item"> <span class="utf-listing-compact-title-item">Renovated Luxury Apartment <i>$420,000</i></span> </div>
          <img src="assets/images/listing-02.jpg" alt=""> </a> 
		</div>        
      </div>
      <div class="utf-smt-buttons"><a href="compare-properties.html" class="button">Compare Property</a></div>
    </div>
  </div>
  <!-- Compare Property Widget / End --> 
  
  <!-- Header Container -->
  <header id="header-container" class="fullwidth"> 
    <!-- Header -->
    <div id="header">
      <div class="container"> 
        <!-- Left Side Content -->
        <div class="left-side"> 
          <div id="logo"> <a href="/"><img src="assets/images/logo.png" alt=""></a> </div>
          <div class="mmenu-trigger">
            <button class="hamburger hamburger--collapse" type="button"> <span class="hamburger-box"> <span class="hamburger-inner"></span> </span> </button>
          </div>
          <!-- Main Navigation -->
          <nav id="navigation" class="style-1">
            <ul id="responsive">
              <li><a class="current" href="#">Home</a></li>
              <li><a href="#">Listings</a></li>
              <li><a href="#">Agents</a></li>
              <li><a href="#">About</a></li>
			  <li><a href="#">Contact</a></li>
            </ul>
          </nav>
          <div class="clearfix"></div>
        </div>
        <!-- Left Side Content / End --> 
        
        <!-- Right Side Content / End -->
        <div class="right-side"> 
          <div class="header-widget"> 
			<a href="#utf-signin-dialog-block" class="popup-with-zoom-anim log-in-button sign-in"><i class="icon-line-awesome-user"></i> <span>Sign In</span></a> 
			<a href="add-new-property.html" class="button border"><i class="icon-feather-plus-circle"></i> <span>Create Property</span></a> 
		  </div>
        </div>
        <!-- Right Side Content / End --> 
      </div>
    </div>
    <!-- Header / End --> 
  </header>
  <div class="clearfix"></div>
  <!-- Header Container / End --> 
    <%- body %>



  <!-- Content  -->
  <!-- Footer -->
  <div id="footer"> 
    <div class="container">
      <div class="row">
	    <div class="col-md-4 col-sm-12 col-xs-12"> 
          <a href="/"><img class="footer-logo" src="assets/images/footer_logo.png" alt=""></a>
          <p>Lorem Ipsum is simply dummy text of printing and type setting industry. Lorem Ipsum been industry standard dummy text ever since, when unknown printer took a galley type scrambled.</p>          
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <h4>Useful Links</h4>
          <ul class="utf-footer-links-item">
            <li><a href="/">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Properties</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <h4>My Account</h4>
          <ul class="utf-footer-links-item">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">My Profile</a></li>
            <li><a href="#">Add Property</a></li>
			<li><a href="#">My Listing</a></li>
            <li><a href="#">Favorites</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <h4>Resources</h4>
          <ul class="utf-footer-links-item">
            <li><a href="#">My Account</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">How It Work</a></li>
            <li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Term & Condition</a></li>
          </ul>
        </div>
		<div class="col-md-2 col-sm-3 col-xs-6">
          <h4>Pages</h4>
          <ul class="utf-footer-links-item">
            <li><a href="#">Our Partners</a></li>
            <li><a href="#">How It Work</a></li>
			<li><a href="#">FAQ Page</a></li>
            <li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Term & Condition</a></li>
          </ul>
        </div>	
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="copyrights">Copyright © 2021 All Rights Reserved.</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer / End --> 
  
  <!-- Back To Top Button -->
  <div id="backtotop"><a href="#"></a></div>
</div>

<!-- Sign In Popup -->
<div id="utf-signin-dialog-block" class="zoom-anim-dialog mfp-hide dialog-with-tabs"> 
  <div class="utf-signin-form-part">
    <ul class="utf-popup-tabs-nav-item">
      <li><a href="#login">SignIn</a></li>
      <li><a href="#register">SignUp</a></li>
    </ul>
    <div class="utf-popup-container-part-tabs"> 
      <!-- Login -->
      <div class="utf-popup-tab-content-item" id="login"> 
        <div class="utf-welcome-text-item">
          <h3>Welcome Back Sign in to Continue</h3>
          <span>Don't Have an Account? <a href="#" class="register-tab">Sign Up!</a></span> 
		</div>
        <form method="post" action="signin" id="login-form">
          <div class="utf-no-border">
            <input type="text" name="emailaddress" id="emailaddress" placeholder="Email Address" required/>
          </div>
          <div class="utf-no-border">
            <input type="password" name="password" id="password" placeholder="Password" required/>
          </div>
		  <div class="checkbox margin-top-0">
			<input type="checkbox" id="two-step">
			<label for="two-step"><span class="checkbox-icon"></span> Remember Me</label>
		  </div>
          <a href="forgot_password.html" class="forgot-password">Forgot Password?</a>
        </form>
        <button class="button full-width utf-button-sliding-icon ripple-effect" type="submit" form="login-form">Log In <i class="icon-feather-chevrons-right"></i></button>
        <div class="utf-social-login-separator-item"><span>Or Login in With</span></div>
        <div class="utf-social-login-buttons-block">
          <button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Facebook</button>
		  <button class="google-login ripple-effect"><i class="icon-brand-google"></i> Google</button>
		  <button class="twitter-login ripple-effect"><i class="icon-brand-twitter"></i> Twitter</button>
        </div>
      </div>
      
      <!-- Register -->
      <div class="utf-popup-tab-content-item" id="register"> 
        <div class="utf-welcome-text-item">
          <h3>Create your Account!</h3>
		  <span>Don't Have an Account? <a href="#" class="register-tab">Sign Up!</a></span> 
        </div>        
        <form method="post" action="/signup" id="utf-register-account-form">
          <div class="utf-no-border margin-bottom-20">
			<select class="utf-chosen-select-single-item utf-with-border" title="Single User">
				<option>Single User</option>
				<option>Agent</option>			
			</select>
		  </div>
		  <div class="utf-no-border">
            <input type="text" name="email" id="emailaddress-register" placeholder="Email Address" required/>
          </div>
		  <div class="utf-no-border">
            <input type="password" name="password" id="password-register" placeholder="Password" required/>
          </div>
          <div class="utf-no-border">
            <input type="password" name="password-repeat-register" id="password-repeat-register" placeholder="Repeat Password" required/>
          </div>
		  <div class="checkbox margin-top-0">
			<input type="checkbox" id="two-step0">
			<label for="two-step0"><span class="checkbox-icon"></span> By Registering You Confirm That You Accept <a href="#">Terms & Conditions</a> and <a href="#">Privacy Policy</a></label>
		  </div>
        </form>
        <button class="margin-top-10 button full-width utf-button-sliding-icon ripple-effect" type="submit" form="utf-register-account-form">Register <i class="icon-feather-chevrons-right"></i></button>        
      </div>
    </div>
  </div>
</div>
<!-- Sign In Popup / End -->
  
<!-- Scripts --> 
<script src="assets/scripts/jquery-3.3.1.min.js"></script> 
<script src="assets/scripts/bootstrap.min.js"></script>
<script src="assets/scripts/chosen.min.js"></script> 
<script src="assets/scripts/magnific-popup.min.js"></script> 
<script src="assets/scripts/owl.carousel.min.js"></script> 
<script src="assets/scripts/rangeSlider.js"></script> 
<script src="assets/scripts/sticky-kit.min.js"></script> 
<script src="assets/scripts/slick.min.js"></script> 
<script src="assets/scripts/mmenu.min.js"></script> 
<script src="assets/scripts/tooltips.min.js"></script> 
<script src="assets/scripts/masonry.min.js"></script> 
<script src="assets/scripts/custom_jquery.js"></script> 
</body>

</html>